# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Introduce commonly used libraries in data science
- Demonstrate the creation of simple data visualizations
- Explain the basics of data manipulation using pandas

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|-------------------|
| Jupyter Notebook  |
| Anaconda          |
| Git               |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
hours= 200/60

In [11]:
hours

3.3333333333333335

## Author

Vincenzo